<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}" lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <title>docuForce</title>
  <link rel="shortcut icon" th:href="@{/assets/activate_account/favicon.ico}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/assets/activate_account/css/main.css}">
  <script th:src="@{/assets/activate_account/js/main.js}"></script>
</head>
<body>
<div class="layout">
  <div class="brand_container">
    <div class="brand">
      <div class="logo_description">
        <img th:src="@{/assets/activate_account/img/logo.svg}" class="logo" alt="docuForce">
        <p class="description" th:utext="#{label.form.header.workflow}">Digital documents management</p>
      </div>
      <p class="copyright">© InfoLogistics LLC. All rights reserved.</p>
    </div>
  </div>
  <div class="form_container">

    <div class="form">
      <form method="post" th:action="" th:object="">
        <h1 class="page_title" th:utext="#{label.form.header.activate.account}">Activation</h1>
        
        <div class="info_wrapper">
          <div class="element">
            <p id="org">ООО “Новая организация”</p>
          </div>
          <div class="element">
            <p>
              <span id="surname">Surname</span>
              <span id="name">Name</span>
              <span id="patronymic">Patronymic</span>
            </p>
          </div>
          <div class="element">
            <label th:utext="#{label.form.account.tel}">Tel</label>
            <p id="phone">+7 985 123 45 67</p>
          </div>
          <div class="element">
            <label th:utext="#{label.form.account.inn}">TIN</label>
            <p id="inn">12343252356</p>
          </div>
          <div class="element">
            <label th:utext="#{label.form.account.snils}">SNILS</label>
            <p id="snils">123-412-353 56</p>
          </div>
          <div class="element">
            <label th:utext="#{label.form.account.kpp}">TRRC</label>
            <p id="kpp">123456789</p>
          </div>
          <div class="element">
            <label th:utext="#{label.form.account.ogrn}">PSRN</label>
            <p id="ogrn">123456789123</p>
          </div>
        </div>

        <div class="input_wrapper">
          <label for="password_first" class="label" th:utext="#{label.form.enter.password}">Enter the password</label>
          <div class="element_wrapper element_wrapper_error">
            <input name="password_first" id="password_first" th:field="*{password1}" type="password" class="element"/>
            <span class="element_wrapper_icon">
                <svg width="12" height="12" class="icon_lock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 14">
                  <path
                      d="M3.182 6.364v-1.91A2.55 2.55 0 015.727 1.91a2.55 2.55 0 012.546 2.546v1.909H3.182zm8.272.954a.955.955 0 00-.954-.954h-.318v-1.91C10.182 2.01 8.173 0 5.727 0S1.273 2.009 1.273 4.455v1.909H.955A.955.955 0 000 7.318v5.727c0 .527.428.955.955.955H10.5a.955.955 0 00.954-.955V7.318z"></path>
                </svg>
              </span>

          </div>
        </div>
        <div class="input_wrapper">
          <label for="password_second" class="label" th:utext="#{label.form.confirm.password}">Confirm the password</label>
          <div class="element_wrapper element_wrapper_error">
            <input name="password_second" id="password_second" th:field="*{password2}" type="password" class="element"/>
            <span class="element_wrapper_icon">
                <svg width="12" height="12" class="icon_lock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 14">
                  <path
                      d="M3.182 6.364v-1.91A2.55 2.55 0 015.727 1.91a2.55 2.55 0 012.546 2.546v1.909H3.182zm8.272.954a.955.955 0 00-.954-.954h-.318v-1.91C10.182 2.01 8.173 0 5.727 0S1.273 2.009 1.273 4.455v1.909H.955A.955.955 0 000 7.318v5.727c0 .527.428.955.955.955H10.5a.955.955 0 00.954-.955V7.318z"></path>
                </svg>
              </span>
          </div>
        </div>
        <button type="submit" class="button_submit" th:utext="#{label.form.activate.account}">Activate</button>
      </form>

    </div>
  </div>
</div>
</body>
</html>
